/*
- * @description: css
- * @author: pz
- * @update: pz (2017-11-20 14:50)
- */

body{
	text-align: center;
	margin:0;
	font-family: SimHei;
	background-color: #F4F3EF;
}

#wrapper{
	margin: 0 10%;
	width: 1280px;
}

div{
	margin:0px;
}

#header{
	float: left;
	width: 100%;
	height: 111px; 
	background-image: url(../image/news/bj2.jpg) ;
	display: inline;
}

#logo{
	float: left;
	width : 380px;
	height : 94px;
	margin-top: 8px;
	margin-left: 105px;
} 

#home{
	float: left;
	margin-top: 72px;
	margin-left: 369px;
	font-size: 14px;
} 
#nav{
	float: left;
	background-color: #004e87;
	width: 100%;
	height: 35px;
	line-height: 35px;
	color: white;
}
 
#nav > ul{
	margin:auto;
	padding: inherit;
	font-size: 0px;
}

#nav > ul>li{
	list-style:none;
	display: inline-block;
	color:white;
	padding: 0 27px;
	font-size: 16px;
}

 
#main{
	float: left;
	width: 100%;
}

#mainLeft{
	float: left;
	margin-left: 11%;
	width: 20%;
    margin-top: 30px;
    height: 33px;
    line-height: 33px;
    text-align: left;
    background:url(../image/news/link_bg.png) no-repeat; 
    background-color: #F1F1F1;
    border-bottom: 1px solid #DBDBDB;
}

#mainLeftUl{
	padding-left: 0;
}
 #mainLeftUl>li{
	/* list-style-image: url(../image/news/t2.png);
	margin-left: 40px;
	font-size: 12px;
	border-bottom: 1px dotted red; */
	border-bottom: #ccc 1px dotted;
	line-height: 34px;
	height: 34px;
	width: 60%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: url(../image/news/t2.png) no-repeat 0 13px;
	padding-left: 10px;
	font-size: 12px;
}

a {
     font-family: SimHei;
     color: #333;
     text-decoration: none;
     /* font-size: 13px;  */
 }


#tel{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 14px;
} 

#mainRight{
	float: left;
	margin-left: 2%;
    margin-top: 30px;
    text-align: left;
    background-color: #F1F1F1;
    width: 56%;
}

 #mainRightUl{
 	margin: 0;
 	padding: 0; 
 	background-color: #FFF;
 }

 #mainRightUl>li{
	list-style-image: url(../image/news/t2.png);
	margin-left: 40px;
	font-size: 12px;
	width: 93%;
	height: 35px;
	line-height: 35px;
	/* border-bottom: 1px dotted red; */
}

#newCenter{
	background-color: #F8F8F8;
	height: 32px;
	line-height: 32px;
}

#newCenterSpan{
	font-size: 8px;
	float: right;
	margin-right: 15px;
	margin-top: 6px; 
	color: gray;
	height: 10px;
}

#pages{
	position: absolute;
	/* float: left; */
	margin-top: 10px;
}
 
#pagesUl{
	margin:auto;
	padding: inherit;
	font-size: 0px;
}


#pagesUl > li{
	list-style: none;
	display: inline;
	padding: 5px 15px;
	margin: 0 2px;
	font-size: 16px;
	border: 1px solid #DADADA;
}

hr{
	margin: 0 8px;
	border: 1px dotted #CCC;
}

span{
	color:#E4E3E5;
	float: right;
}

#footer{
	float: left;
	width: 100%;
	height: 88px;
	background-color: #004E87;
	margin-top: 80px;
	color: #FFF;
	text-align: center;
    padding-top: 45px;
    font-size: 13px;
    line-height: 25px;
}